<div class="large_container">
  <%= erb :_nav %>
  <% @categories.each do |cat| %>
    <div class="resource_col">
      <h2><%= cat.name %></h2>
      <% cat.posts.each do |post| %>
        <table>
          <tr>
            <td colspan='5'><input class="checkbox" type="checkbox" name="option" value="<%= post.id %>" <%= is_favorite(post.id, current_user.id) %>><a href="/posts/<%= post.id %>"><%=post.title%></a></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
</div>
<div class="dashboard">
  <%= erb :_dashboard %>
</div>
