<div class="large_container">
  <%= erb :_nav %><br>
  <form id="search_form">
    <input size="37px" id="search_input" type="text" placeholder="search" name="search">
  </form>
  <div class="smaller_container">
    <% @categories.each do |cat| %>
      <div class="resource_col" id="cat<%= cat.id %>">
        <h2><%= cat.name %></h2>
        <% cat.posts.each do |post| %>
          <table>
            <tr>
              <td colspan='5'><input class="checkbox" type="checkbox" name="option" value="<%= post.id %>" <%= is_favorite(post.id, current_user.id) %>><a href="/posts/<%= post.id %>"><%=post.title%></a></td>
            </tr>
          </table>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="dashboard">
  <%= erb :_dashboard %>
</div>
