<div class="large_container">
  <%= erb :_nav %>
  <% @categories.each do |cat| %>
    <div class="resource_col">
      <h2><%= cat.name %></h2>
      <% cat.posts.each do |post| %>
        <table>
          <tr>
            <td colspan='5'><a href="http://<%= post.url %>"><%=post.title%></a></td>
          </tr>
        </table>
        <table>
          <tr>
            <td><a href="#"><img class="vote" src="up_arrow.svg"></a></td>
            <td><a href="#"><img class="vote" src="down_arrow.svg"></a></td>
            <td><a class="details" href="/posts/<%=post.id%>">{Post Details}</a></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
  <%= erb :_dashboard %>
</div>


