<div class="container">
  <h1><%= @header %></h1>
  <% @categories.each do |cat| %>
    <div class="resource_col">
      <h2><%= cat.name %></h2>
      <% cat.posts.each do |post| %>
        <table>
          <tr>
            <td colspan='5'><a href="<%= post.url %>"><%=post.title%></a></td>
          </tr>
        </table>
        <table>
          <tr>
            <td><a href="#"><img class="vote" src="up_arrow.svg"></a></td>
            <td><a href="#"><img class="vote" src="down_arrow.svg"></a></td>
            <td><a class="details" href="/posts/<%=post.id%>">{Post Details}</a></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
  <% if current_user %>
    <button><a href="/users/<%=session[:user_id]%>/posts/new">Post a Resource</a></button>
    <button><a href='<%= @button_route %>'><%= @button_text %></a></button>
    <form class="submit" action='/signout' method='post'>
      <button type='submit'>Logout</button>
    </form>
  <% end %>
</div>


