<div class="large_container">
  <%= erb :_nav %>
  <% @categories.each do |cat| %>
    <div class="resource_col">
      <h2><%= cat.name %></h2>
      <% cat.posts.each do |post| %>
        <table>
          <tr>
            <td colspan='5'><a href="/posts/<%= post.id %>"><%=post.title%></a></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
</div>
<div class="dashboard">
  <%= erb :_dashboard %>
</div>
<!-- 
<table>
  <tr>
    <td class="checkbox">Checkbox</td>
    <td>Post title</td>
  </tr>

</table> -->


<!-- jquery

(checkbox).select{
  var post_name = (td_sibling).value
  ajax
  

} -->