<div class="large_container">
  <%= erb :_nav %><br>
  <form id="search_form">
    <input size="37px" id="search_input" type="text" placeholder="search" name="search">
  </form>
  <% counter = 0 %>
  <div class="smaller_container">
    <% @categories.each do |cat| %>
<!-- issue below -->
      <div class="resource_col<%= counter %>" id="cat<%= cat.id %>">
        <h2><%= cat.name %></h2>
        <img id="img<%= counter %>" src="/posts.svg" alt="All Posts"/>
        <% Post.sort_by_votes(cat).slice(0..9).each do |post| %>
          <table>
            <tr>
              <td colspan='5'><input class="checkbox" type="checkbox" name="option" value="<%= post.id %>" <%= is_favorite(post.id, current_user.id) %>><a href="/posts/<%= post.id %>"><%=post.title%></a></td>
            </tr>
          </table>
        <% end %>
      </div>

      <div class="all_resource<%= counter %>">
        <h2><%= cat.name %></h2>
        <img id="img<%= counter %>" src="/posts.svg" alt="All Posts"/>
        <% Post.sort_by_votes(cat).each do |post| %>
          <table>
            <tr>
              <td colspan='5'><a href="/posts/<%= post.id %>"><%=post.title%></a></td>
            </tr>
          </table>
        <% end %>
      </div>

      <% counter += 1 %>
    <% end %>
  </div>
</div>

<div class="dashboard">
  <%= erb :_dashboard %>
</div>
