<div class='container'>
  <%= erb :_nav %>
  <input type="hidden" name="post_id" value="<%= @post.id %>"/>
  <p><%= @post.content %></p>

  <% if current_user.posts.include?(@post) %>
    <a href='/users/<%=session[:user_id]%>/posts/<%= @post.id %>/update'><img class="update" src="/pencil.svg"></a>
    <a href="/posts/<%= @post.id %>/delete"><img class="update" src="/trash.svg"></a>
  <% else %>
    <img class="vote" src="/down_arrow.svg">
    <img class="vote" src="/up_arrow.svg">
  <% end %>
</div>

<div class='container'>
  <h2>Tags associated with this post:</h2>
  <% @tags.each do |tag| %>
    <a href='/tags/<%= tag.id %>'><%= tag.name %></a>
  <% end %>
</div>
<% if @post.user_id == session[:user_id] %>
  <div class='container'>
    <button id='edit'><a >Edit Post</a></button>
    <form action='/posts/<%= @post.id %>' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <button type='submit'>Delete Post</button>
    </form>
  </div>
<% end %>

<div class="dashboard">
  <%= erb :_dashboard %>
</div>

