<div class='container'>
  <%= erb :_nav %>
  <input type="hidden" name="post_id" value="<%= @post.id %>"/>
  <h3><%= @post.content %></h3>

  <% if current_user.posts.include?(@post) %>
    <div class="tools">
      <a href='/users/<%=session[:user_id]%>/posts/<%= @post.id %>/update'><img class="update" src="/images/pencil.svg"></a>
      <a href="/posts/<%= @post.id %>/delete"><img class="update" src="/images/trash.svg"></a>
    </div>
  <% else %>
    <div class="tools">
      <img style="cursor: pointer;" class="vote" src="/images/down_arrow.svg">
      <img style="cursor: pointer;" class="vote" src="/images/up_arrow.svg">
    </div>
  <% end %>
</div>

<div class='container'>
  <h2>Tags associated with this post:</h2>
  <% @tags.each do |tag| %>
    <a href='/tags/<%= tag.id %>'><%= tag.name %></a>
  <% end %>
</div>
<%= erb :_dashboard %>


