<div class='container'>
  <%= erb :_nav %>
  <input type="hidden" name="post_id" value="<%= @post.id %>"/>
  <h2 id="vote_total">Vote Total: <%= @vote_total %></h2>

  <% if current_user.posts.include?(@post) %>
    <div class="tools">
      <a href='/users/<%=session[:user_id]%>/posts/<%= @post.id %>/update'><img class="update" src="/images/pencil.svg"></a>
      <a href="/posts/<%= @post.id %>/delete"><img class="update" src="/images/trash.svg"></a>
    </div>
  <% else %>
      <div class="tools">
    <% unless @post_vote %>
        <img style="cursor: pointer;" class="vote" src="/images/up_arrow.svg">
        <img style="cursor: pointer;" class="vote" src="/images/down_arrow.svg">
    <% end %>
      </div>
  <% end %>
  <h2>Post Description:</h2>
  <h3><%= @post.content %></h3>
  <h2>Tags associated with this post:</h2>
  <% @tags.each do |tag| %>
    <span><a href='/tags/<%= tag.id %>'><%= tag.name %></a></span>
  <% end %>
</div>
<%= erb :_dashboard %>


