<div class="large_container">
  <%= erb :_nav %>
  <div class="dashboard_col" id="favorites">
    <h2>Reading List &amp; Favorites</h2>
    <% current_user.favorites.each do |favorite| %>
      <%  post = favorite.post %>
      <!-- <h3><a href="/posts/<%=post.id%>"><%=post.title%></h3> -->
      <p>
        <input class="checkbox" type="checkbox" name="option" value="<%= post.id %>" checked>
        <a href="/posts/<%= post.id %>"><%=post.title%></a>
      </p>
    <% end %>
  </div>
  <div  class="dashboard_col">
    <h2>Manage Your Posts</h2>
    <% @categories.each do |cat| %>
      <h2><%= cat.name %></h2>
      
      <% cat.posts.where("user_id = #{session[:user_id]}").each do |post| %>
        <a id="user_post" href="/posts/<%=post.id%>"><%=post.title%></a>
      <% end %>
    
    <% end %>
  </div>
</div>

<%= erb :_dashboard %>


