<div class="large_container">
  <h1><%= @header %></h1>
  <% @categories.each do |cat| %>
    <div class="resource_col">
      <h2><%= cat.name %></h2>
      <table>
        <% cat.posts.where("user_id = #{session[:user_id]}").each do |post| %>
          <tr>
            <td><a href="/posts/<%=post.id%>"><%=post.title%></a></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <% if current_user %>
    <button><a href="/users/<%=session[:user_id]%>/posts/new">Post a Resource</a></button>
    <button><a href='<%= @button_route %>'><%= @button_text %></a></button>
    <form class="submit" action='/signout' method='post'>
      <button type='submit'>Logout</button>
    </form>
  <% end %>
</div>

<div class="dashboard">
  <%= erb :_dashboard %>
</div>
