<div class="large_container">
  <%= erb :_nav %>
  <% @categories.each do |cat| %>
    <div class="resource_col">
      <h2><%= cat.name %></h2>
      <table>
        <% cat.posts.where("user_id = #{session[:user_id]}").each do |post| %>
          <tr>
            <td><a href="/posts/<%=post.id%>"><%=post.title%></a></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>

<div class="dashboard">
  <%= erb :_dashboard %>
</div>
